* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: black;
  padding: 15px;
}

header ul {
  list-style: none;
}

header ul a {
  color: white;
  padding: 0px 15px;
}

header ul a li {
  display: inline-block;
}

.centered-table {
  margin: 0 auto;
  width: 1200px;
}

.centered-table table {
  margin: 0 auto;
}

.centered-table table td {
  padding: 0 10px;
}

.centered-table table td a {
  margin-left: 15px;
}

.centered-table table td a button {
  padding: 5px;
}

form {
  padding: 10px;
}

form div {
  margin-bottom: 15px;
}

form div .w-textarea {
  width: 100%;
}

form .btn-edit {
  padding: 5px 10px;
}

form .btn-delete {
  padding: 5px;
  background-color: crimson;
  border-color: crimson;
}

footer {
  background-color: black;
  padding: 15px;
  color: white;
}

.container-show {
  border-bottom: 1px solid black;
  background-color: gainsboro;
  text-align: center;
  padding: 15px 0;
}

.details-comic {
  padding: 10px;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  height: 50vh;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.details-comic h1 {
  margin-bottom: 20px;
  align-self: flex-start;
}

.details-comic h4 {
  padding: 20px 0;
}

.form-delete {
  display: inline;
}

.form-delete button {
  padding: 5px;
  background-color: crimson;
  border-color: crimson;
}

.delete-alert {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: crimson;
}

.created-alert {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: green;
}

.edited-alert {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: green;
}

.validation-failed {
  background-color: rgba(255, 0, 0, 0.8);
}

.validation-failed ul {
  list-style: none;
}

.validation-failed ul li {
  color: white;
}

